@import "tailwindcss";

@font-face {
  font-family: "Roboto Mono Regular";
  src: url("/fonts/Roboto Mono/static/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono Italic";
  src: url("/fonts/Roboto Mono/static/RobotoMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono Light";
  src: url("/fonts/Roboto Mono/static/RobotoMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono Light Italic";
  src: url("/fonts/Roboto Mono/static/RobotoMono-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Mono ExtraLight";
  src: url("/fonts/Roboto Mono/static/RobotoMono-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Mono ExtraLight Italic";
  src: url("/fonts/Roboto Mono/static/RobotoMono-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "LongCang";
  src: url("/fonts/Long_Cang/LongCang-Regular.ttf") format("truetype");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

.roboto-thin {
  font-family: "Roboto Mono ExtraLight";
}
.roboto-thin-italic {
  font-family: "Roboto Mono ExtraLight Italic";
}

.roboto-regular {
  font-family: "Roboto Mono Regular";
}
.roboto-light {
  font-family: "Roboto Mono Light";
}
.roboto-light-italic {
  font-family: "Roboto Mono Light Italic";
}
.roboto-italic {
  font-family: "Roboto Mono Italic";
}
.longcang {
  font-family: "LongCang";
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto Mono Regular", Arial, Helvetica, sans-serif;
}

/* ANIMATION */

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-up {
  will-change: transform, opacity;
  animation: fade-in-up 2.5s ease forwards;
}
.animate-fade-in-down {
  will-change: transform, opacity;
  animation: fade-in-down 2.5s ease forwards;
}
.animate-fade-in-left {
  will-change: transform, opacity;
  animation: fade-in-left 2.5s ease forwards;
}
.animate-fade-in-right {
  will-change: transform, opacity;
  animation: fade-in-right 2.5s ease forwards;
}
.delay-1 {
  animation-delay: 0.4s;
}
.delay-2 {
  animation-delay: 0.8s;
}
.delay-3 {
  animation-delay: 1.2s;
}
.delay-4 {
  animation-delay: 1.6s;
}
.delay-5 {
  animation-delay: 2s;
}
